@page {
    size: 21cm 29.7cm;
    margin: 10mm 10mm 10mm 10mm
}

@media print {
    body {
        background-color: #fff;
        line-height: 20px;
        font-size: 13px !important;
        page-break-inside: avoid;
        font-family: Ubuntu, sans-serif;
    }

    .heading {
        padding: 10px;
        font-size: 16px;
        background-color: #ffffff !important;
    }

    .header, .hire, .hide-print, footer {
        display: none;
    }

    .article {
        margin: 10px 0;
    }

    .wrapper {
        position: static;
        width: 100% !important;
    }

    .section, .about {
        padding: 10px;
        margin-bottom: 20px;
    }

}